<ul class="nav nav-sidebar">
    <li><a href="../user/show">用户维护</a></li>
    <li><a href="../role/show">角色维护</a></li>
    <li><a href="../usergroup/show">用户组维护</a></li>
    <li><a href="../department/show">部门维护</a></li>
</ul>
##<script type="text/javascript">
##    var J = jQuery.noConflict();
##    J(document).ready(function () {
##        J("#J-content").load("/clustergroup /show");
##    });
##</script>
