<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UserDO" type="com.wangyin.wycds.demoapp.dal.dataobject.UserDO"/>
        <typeAlias alias="RoleDO" type="com.wangyin.wycds.demoapp.dal.dataobject.RoleDO"/>
        <typeAlias alias="DepartmentDO" type="com.wangyin.wycds.demoapp.dal.dataobject.DepartmentDO"/>
        <typeAlias alias="UsergroupDO" type="com.wangyin.wycds.demoapp.dal.dataobject.UsergroupDO"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/wangyin/wycds/demoapp/dal/persistence/UserDAO.xml"/>
        <mapper resource="com/wangyin/wycds/demoapp/dal/persistence/RoleDAO.xml"/>
        <mapper resource="com/wangyin/wycds/demoapp/dal/persistence/DepartmentDAO.xml"/>
        <mapper resource="com/wangyin/wycds/demoapp/dal/persistence/UsergroupDAO.xml"/>
    </mappers>
</configuration>
